.cell {
	float: left;
	width: 62px;
	height: 94px;
	border: 1px;
	border-style: solid;
/*	border-color: #DBDBDB;
*/	width: 60px;
}
.tropeIdentifier {
	font-family: 'PT Sans', sans-serif;
	font-size: 27px;
	text-align: center;
	margin: 8px 0 0 0;
	clear: both;
}
.tropeName {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 11px;
	text-align: center;
	margin: 0 2px;
	line-height: 13px;
}
.tropePopularity {
	font-family: "PT Sans";
	font-size: 9px;
	float: right;
	margin: 2px 3px;
}
